<div class="row">
    <div class="col-xs-12">
        <h1>{{ exercise.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Exercise Type: {{ exercise.type }}
    </div>
    <div class="col-xs-12">
        Muscle Group: {{ exercise.group }}
    </div>
    <div class="col-xs-12">
        Exercise Equipment: {{ exercise.equipment }}
    </div>
    <div class="col-xs-12">
        Training Level: {{ exercise.level }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Exercise <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onViewActivityHistory()" style="cursor: pointer;">View Activity History</a></li>
                <li><a style="cursor: pointer;" (click)="onEditExercise()">Edit Exercise</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteExercise()">Delete Exercise</a></li>
            </ul>
        </div>
    </div>
</div>