<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" role="button" [routerLink]="['../../']">
            <span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ exercise.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ customExercise.order }}</span>
                Exericse Order 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ customExercise.sets }}</span>
                Number of Sets 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ customExercise.reps }}</span>
                Exercise Reps 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ customExercise.active }}</span>
                Time Active (Seconds) 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ customExercise.rest }}</span>
                Rest Time (Seconds) 
            </li>
        </ul>
    </div>
    <div class="col-xs-7">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ exercise.name }}</span>
                Name
            </li>
            <li class="list-group-item">
                <span class="badge">{{ exercise.type }}</span>
                Exercise Type 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ exercise.group }}</span>
                Muscle Group 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ exercise.equipment }}</span>
                Exercise Equipment 
            </li>
            <li class="list-group-item">
                <span class="badge">{{ exercise.level }}</span>
                Training Level 
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Exercise <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onViewActivityHistory()" style="cursor: pointer;">View Activity History</a></li>
                <li><a style="cursor: pointer;" (click)="onEditCustom()">Edit Custom</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteCustom()">Delete Custom</a></li>
            </ul>
        </div>
    </div>
</div>