<div class="row">
    <div class="col-xs-12">
        <h1>{{ workoutRoutine.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>
            Days Per Week: {{ workoutRoutine.days }}
        </p>
        <p>
            Fitness Goal: {{ workoutRoutine.goal }}
        </p>
        <p>
            Training Level: {{ workoutRoutine.level }}
        </p>
        <p>
            Notes: {{ workoutRoutine.notes }}
        </p>
        <p>
            Start Date: {{ workoutRoutine.startDate }}
        </p>
        <p>
            End Date: {{ workoutRoutine.endDate }}
        </p>
        <p *ngIf="dailyWorkouts?.length">
            Workouts:
        </p>
        <div class="row">
            <div class="col-xs-12">
                <app-daily-workout-item
                *ngFor="let d of dailyWorkouts"
                [dailyWorkout]="d"></app-daily-workout-item>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Workout <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onViewActivityHistory()">View Activity History</a></li>
                <li><a style="cursor: pointer;" (click)="onEditWorkout()">Edit Workout</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteWorkout()">Delete Workout</a></li>
            </ul>
        </div>
    </div>
</div>