@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
Tailwind Breakpoints
sm: 640px (min-width: 640px)
md: 768px (min-width: 768px)
lg: 1024px (min-width: 1024px)
xl: 1280px (min-width: 1280px)
2xl: 1536px (min-width: 1536px)
*/

html,
body {
	@apply h-full;
}

body {
	background-image: radial-gradient(
		circle,
		rgba(255, 104, 31, 0.1) 0%,
		rgba(255, 215, 0, 0.05) 100%
	) !important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
